@font-face{
    font-family: "shadows";
    src: url(ShadowsIntoLight-Regular.ttf);
}

#body{
    margin: 0%;
    background-color: rgb(24, 24, 24);
    font-family: "shadows" ;  
}

#navbar{
    padding: 1%;
    text-align:center;
    position: relative;
    color: #fff;
    background: linear-gradient(90deg,rgb(24, 24, 24)0%,rgb(24, 24, 24)35%,rgb(102, 103, 171) 100%);
    background-attachment: fixed;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius:0%;   
}

#navsocial{
    padding: 1%;
    text-align:center;
    position: relative;
    color: #fff;
    background: linear-gradient(90deg,rgb(24, 24, 24)25%,rgb(45, 45, 59)100%,rgb(24, 24, 24) 50%);
    background-attachment: fixed;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius:0%;   
}

#social2 :hover, #social3 :hover {
    background: rgb(102, 103, 171);
}

#social2 img, #social3 img{
    width: 6%;
    border-radius: 0%;
    border-style: solid;
    background-color: rgb(24, 24, 24);   
}

#container-t{
    width: auto;          
}

.titulo{
    width: auto;
    font-size: 420%;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;      
}

.subtitulo{
    width: auto;
    font-size: 190%;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center; 
    padding-bottom: 2%;
}



#header{  
    width: 100%;   
}

#nav-port ul{
    list-style: none;
    text-align: center;
    margin: auto;   
}

.a{
    font-size: 150%;
    padding-right: 5%;
   color: rgb(102, 103, 171);
   text-decoration: none;   
}  

.a:hover:hover {color:white;}

.hr {
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid ;
    color: white;     
}

.contenedor{
    display: flex;
    justify-content: center;
}

.conte-leng figure{
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
    box-shadow: 0px 12px 25px rgba(102, 103, 171.50);
    border-radius: 50%;
}

.conte-leng figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.conte-leng figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 103, 171,0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.conte-leng figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.conte-leng figure:hover > .capa h2{
    margin-top: 50px;
    margin-bottom: 0px;
}

.conte-leng figure .capa h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}

.conte-leng figure:hover > img{
    transform: scale(1.3);
}

.conte-proy figure{
    position: relative;
    height: 350px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0px 12px 25px rgba(102, 103, 171.50);
    cursor: pointer;

}

.conte-proy figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.conte-proy figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 103, 171,0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.conte-proy figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.conte-proy figure:hover > .capa h2{
    margin-top: 150px;
    margin-bottom: 1px;
}

.conte-proy figure .capa h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}

.conte-proy figure:hover > img{
    transform: scale(1.3);
}

.tit-por{
    padding-bottom: 2%;
    padding-left: 2%;  
}

.tit-por p {
    font-size: 120%;
    color: white;
}

.t-portfolio{
    color: rgb(102, 103, 171);
    width: 100%;
    font-size: 230%;
    letter-spacing: 4rem;
    opacity: 0;
    transition: all 0.5s;     
}

footer{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
}

.datos{
    text-decoration:none;
    color: rgb(102, 103, 171);
    background-color: #fff;
}

.sub-acer{
    color: rgb(102, 103, 171);
}

.descr{
    color: rgb(217, 217, 241);
}

.contenedor-f{
    width: 100%;
    display: contents;
    align-items: center;
}

.conte-foto{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-start;   
}

.conte-foto figure img{
    width: 100%;
    height: 100%;
}

.conte-foto figure{
    position: relative;
    width: 150px;
    height: 150px;  
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 12px 25px rgba(102, 103, 171.50);
    
}